//
// Variables
// --------------------------------------------------


// Accent colors
// -------------------------
@lime:					#d5e14d;
@grayBlue:              #253942;
@grayBlueDark:          #1d2c33;